html, body {
    background: radial-gradient(#1A3855, #0A1630) no-repeat fixed;
    min-width: 325px;
}

form, iframe {
	margin: 0;
	padding: 0;
	border: none;
}

h1 {
    font-size: 28pt;
    color: #fff;
    font-family: Roboto;
    font-weight: normal;
}

h2 {
    color: #eee;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11pt;
    font-family: "Open Sans";
    padding: 0 0 5px 0;
    border-bottom: solid 2px #71B8E2;
    display: inline-block;
}

h3 {
    color: #fff;
}

p {
	color: #fff;
    line-height: 24px;
    letter-spacing: 0;
    font-size: 15px;
    font-family: "Roboto";
	margin-bottom: 18px;
}

a {
    color: #419AD5;
}

a:hover {
    color: #419AD5;
}

img { 
    max-width:100%;
    -ms-interpolation-mode: bicubic;
    border: none;
}

/******/
/******/

#mesh {
    background-image: url("/img/mesh.png");
    background-repeat: no-repeat;
    width: 546px;
    height: 757px;
    position: fixed;
    top: 0;
    right: 0;
}

/******/
/******/

.navbar {
	border-top: 8px solid #419AD5;
    border-radius: 0;
}

.navbar a {
	color: #eee;
}

.navbar a:hover {
	color: #419AD5;
}

.navbar-header {
    height: 130px;
}

.navbar-nav {
	font-size: 11px;
	font-family: 'Roboto Condensed';
	text-transform: uppercase;
	letter-spacing: 1px;
}

.navbar-nav li {
	margin-right: 1px;
}

.navbar-nav li a:hover {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	background-color: #fff;
}

.navbar-nav li.active a {
	color: #000;
	text-decoration: none;
    background-color: #eee;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.navbar-nav li.active a:hover {
	background-color: #fff;
}

.navbar-brand {
	position: relative;
}

.navbar-brand img {
	position: relative;
    height: 65px;
    margin: 15px 0 0 0;
}

.navbar-toggle {
	border-radius: 3px;
    border: 1px solid #484F5A;
    background: rgba(0,0,0,0.07);
}

/******/
/******/

#home #strapline {
    font-size: 34pt;
    color: #fff;
    font-family: Roboto;
    padding-top: 56px;
    padding-bottom: 20px;
    font-weight: normal;
}

#home #summary {
    color: #ccc;
    max-width: 700px;
    font-size: 14pt;
    line-height: 30px;
    font-family: Roboto;
    padding-bottom: 60px;
}

#home #productsContainer {
    padding-top: 10px;
    padding-bottom: 40px;
}

#home #productsContainer .founded {
    color: #aaa;
    font-size: 9pt;
    padding: 0;
}

#home #enclave {
    padding: 23px 20px;
    background: rgba(0,0,0,0.2);
    border-radius: 6px;
    max-width: 394px;
}

#home #enclave img {
    border-radius: 6px;
}

#home #enclave h2 {
    font-family: "Roboto";
    color: #fff;
    font-size: 16pt;
    letter-spacing: -0.01em;
    text-decoration: none;
    border: none;
    font-size: 12pt;
    font-weight: bold;
    text-transform: none;
}

#home #enclave p {
    color: #ccc;
    font-family: "Roboto";
    font-size: 11pt;
    margin: 0;
    padding: 0 0 16px 0;
}

#home #enclave p:last-child {
    font-family: "Roboto";
    padding: 0 0 0 0;
}

/******/
/******/

#technology {
    padding-bottom: 140px;
}

#technology .patent-thumbnail {
    border-radius: 3px;
}

/******/
/******/

#press {
    padding-bottom: 140px;
}

#press .logo-container {
    border-radius: 6px;
    padding: 14px;
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 16px;
    display: inline-block;
    height: 150px;
    vertical-align: top;
}

#press .logo {
    background: #fff;
    border-radius: 6px;
    padding: 14px;
    width: 100%;
    height: 100%;
}

#press .logo img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#press .document {
    padding: 14px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.1);
}

/******/
/******/

#contact h2 {
	margin: 40px 0 20px 0;
}

#contact p {
	margin: 0 0 30px 0;
}

#contact table {
	border-collapse: collapse;
	width: 90%;
}

#contact iframe {
	width: 100%;
	border: 1px solid #ccc;
	height: 304px;
}

#contact input {
	border-radius: 2px;
	background-color: #fff;
	color: #333;
	padding: 15px;
	margin: 0px 0px 8px;
	border: none;
	width: 100%;
}

#contact input[type="submit"] {
	color: #fff;
	background-color: rgb(97, 207, 211);
}

#contact textarea {
	border-radius: 2px;
	background-color: #fff;
	color: #333;
	padding: 15px;
	margin: 0px 0px 8px;
	border: none;
	width: 100%;
	min-height: 130px;
	resize: none;
	font-family: Arial;
	font-size: 13px;
}

#contact button {
	float: right;
	border-radius: 3px;
	background-color: rgb(97, 207, 211);
	color: #fff;
	padding: 15px;
	border: none;
	cursor: pointer;
	margin: 0px;
	font-family: Arial;
	font-size: 13px;
}

/******/
/******/

#company {
    padding-bottom: 140px;
}

#company h2 {
    margin: 60px 0 30px 0;
}

#company p {
    font-size: 12pt;
    line-height: 28px;
}

#company .supported-by {
	background-color: rgba(0,0,0,0.3);
    border-radius: 8px;
    margin: 0 0 26px 0;
    padding: 16px 15px;
    display: block;
}

#company .box {
	padding: 8px 18px 10px 16px;
	background-color: rgba(0,0,0,0.3);
    border-radius: 8px;
    margin: 0 0 26px 0;
    min-height: 236px;
}

#company .box h3 {
	margin: 12px 0 14px 0;
	padding-bottom: 12px;
    font-family: "Roboto";
    font-size: 16pt;
}

#company .box p {
    color: #ccc;
}

#company .box img {
    float: left;
    margin: 10px 20px 10px 4px;
}

#company .photo {
	display: block;
	margin: 20px auto;
	width: 135px;
	height: 135px;
	border-radius: 200px;
}

#company .contact {
    min-width: 150px;
    display: inline-block;
}

#company .registered-office {
    padding-top: 26px;
    font-size: 10pt;
    font-style: italic;
    color: #ccc;
    max-width: 700px;
}

/******/
/******/

.developmentStateBox {
	background: radial-gradient(#1A3855, #0A1630);
	display: inline-block;
    vertical-align: top;
	padding: 15px;
	border-top: 8px solid #419AD5;
    margin: 10px 0 36px 0;
    text-align: center;
}

.developmentStateBox .img_sockets { text-align: center; height: 110px; }
.developmentStateBox .img_sockets img { margin: 16px 0 0 0; width: 50px; }

.developmentStateBox .img_sdk { text-align: center; height: 111px; }
.developmentStateBox .img_sdk img { margin: 16px 0 0 0; width: 80px; }

.developmentStateBox .img_vpn { text-align: center; height: 110px; }
.developmentStateBox .img_vpn img { margin: 16px 0 0 0; width: 60px; }

.developmentStateBox h3 {
	font-family: 'Rockwell';
	margin: 0 0 14px 0;
	color: #419AD5;
	font-size: 18pt;
}

.developmentStateBox p {
	font-family: 'Source Sans Pro';
	color: #eee;
	font-size: 11pt;
	font-weight: normal;
	font-weight: 100;
}

/******/
/******/

footer {
	margin: 50px 16px 110px 0;
	text-align: right;
}

/******/
/******/

@media only screen and (max-width: 767px) {

    #mesh {
        display: none;
    }
    
	.navbar-toggle {
		margin: 45px 25px 0 0;
	}

    #navbar {
        margin: auto;
        box-shadow: none;
        -webkit-box-shadow: none;
    }

    .navbar-nav li {
        margin-right: 0;
    }

	.navbar-nav li a:hover {
		border-radius: 0;
	}

	.navbar-nav li.active a {
		border-radius: 0;
	}

	.icon-bar {
		background-color: #eee;
	}

}