---
---

$font1: 'Roboto';
$font2: 'Open Sans';
$font3: 'Roboto Condensed';

$white: #FFFFFF;
$grey: #EEEEEE;
$silver: #CCCCCC;
$darkgrey: #AAAAAA;
$sky: #419AD5;
$arctic: #71B8E2;
$black: #000000;

$background-fade: rgba(255, 255, 255, 0.1);






html, body {
    background: radial-gradient(#1A3855, #0A1630) no-repeat fixed;
    min-width: 325px;
}

form, iframe {
	margin: 0;
	padding: 0;
	border: none;
}

h1 {
    font-size: 28pt;
    color: $white;
    font-family: Roboto;
    font-weight: normal;
    line-height: 1.4em;
}

h2 {
    color: $grey;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11pt;
    font-family: $font2;
    padding: 0 0 5px 0;
    border-bottom: solid 2px $arctic;
    display: inline-block;
}

h3 {
    color: $white;
}

p {
	color: $white;
    line-height: 24px;
    letter-spacing: 0;
    font-size: 15px;
    font-family: $font1;
	margin-bottom: 18px;
}

a {
    color: $sky;
}

a:hover,
a:focus {
    color: $arctic;
}

a:visited {
    color: $arctic;
}

img { 
    max-width: 100%;
    border: none;
    -ms-interpolation-mode: bicubic;
}

/******/
/******/

#mesh {
    background-image: url("/img/mesh.png");
    background-repeat: no-repeat;
    width: 546px;
    height: 757px;
    position: fixed;
    top: 0;
    right: 0;
}

.col-md-2,
.col-md-3,
.col-md-9,
.col-md-10,
.col-md-12, {
    z-index: 1;
}

.nowrap {
    white-space: nowrap;
}

/******/
/******/

.navbar {

	border-top: 8px solid $sky;
    border-radius: 0;

    position: relative; /* important for z-index to work */
    z-index: 1;
    
    a {
        color: $grey;
        transition: all 0.2s ease 0s;    
    }
    
    a:hover {
        color: $sky;
    }
}

.navbar-header {
    height: 130px;
}

.navbar-nav {

    font-size: 11px;
    font-family: $font3;
    text-transform: uppercase;
    letter-spacing: 1px;

    li {

        margin-right: 1px;
 
        a:hover {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            background-color: $white;
        }
    
        a:focus {
            color: $sky;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }
    }
   
    li.active a {
        color: $black;
        text-decoration: none;
        background-color: $grey;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    
    li.active a:hover {
        background-color: $white;
    }    
}

.navbar-brand {

    position: relative; /* important for z-index to work */
    z-index: 1;
        
    img {
        position: relative;
        height: 65px;
        margin: 15px 0 0 0;
    }
}

.navbar-toggle {
    border-radius: 3px;
    border: 1px solid #484F5A;
    background: rgba(0,0,0,0.07);
}

/******/
/******/

#home {

    #strapline {
        font-size: 34pt;
        color: $white;
        font-family: $font1;
        padding-top: 56px;
        padding-bottom: 20px;
        font-weight: normal;
    }

    #summary {
        color: $silver;
        max-width: 700px;
        font-size: 14pt;
        line-height: 30px;
        font-family: $font1;
        padding-bottom: 60px;
    }

    #productsContainer {
        padding-top: 10px;
        padding-bottom: 40px;
		margin: 0 0 200px 0;
    }

    #productsContainer .founded {
        color: $darkgrey;
        font-size: 9pt;
        padding: 0;
    }

    #enclave {
        padding: 23px 20px;
        background: $background-fade;
        border-radius: 6px;
        max-width: 394px;

        img {
            border-radius: 6px;
        }
    
        h2 {
            font-family: $font1;
            color: $white;
            font-size: 16pt;
            letter-spacing: -0.01em;
            text-decoration: none;
            border: none;
            font-size: 12pt;
            font-weight: bold;
            text-transform: none;
        }
    
        p {
            color: $silver;
            font-family: $font1;
            font-size: 11pt;
            margin: 0;
            padding: 0 0 16px 0;
        }
    
        p:last-child {
            padding: 0 0 0 0;
        }    
    }
}

/******/
/******/

#technology {

    padding-bottom: 140px;

    #summary {
        margin: 60px 0 30px 0;
    }
    
    .ip {
        margin: 40px 0 32px 0;
    }
    
    .patent {

        display: inline-block;
        padding: 24px 0 14px 6px;
        margin: 0 14px 0 14px;
        border-radius: 6px;
        background: $background-fade;
        margin-bottom: 16px;
            
        .patentContainer {
            text-align: center;
        }
        
        .patentThumbnail img {
            border-radius: 3px;
        }
        
        .patentNumber {
            padding: 12px 0 6px 0;
        }
    }
}

/******/
/******/

#press {

    padding-bottom: 140px;

    #library {
        margin: 60px 0 30px 0;
    }
    
    #mediaResources {
        margin: 60px 0 30px 0;
    }
    
    .document {

        border-radius: 6px;
        padding: 14px;
        background: $background-fade;
        vertical-align: top;
        margin-bottom: 24px;
        display: inline-block;
        text-align: center;

        p {
            padding: 12px 0 0 0;
            margin: 0;
        }
        
        img {
            border-radius: 4px;
        }    
    }
    
    .fileSize {
        font-size: 12px;
    }
    
    .logo-container {

        border-radius: 6px;
        padding: 14px;
        background: $background-fade;
        vertical-align: top;
        margin-bottom: 24px;
        display: inline-block;
        text-align: center;
        
        p {
            padding: 12px 0 0 0;
            margin: 0;
        }
    }
    
    .logo {

        background: $white;
        border-radius: 4px;
        padding: 14px;
        width: 100%;
        height: 150px;
        text-align: center;

        img {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

/******/
/******/

#company {

    padding-bottom: 140px;

    h2 {
        margin: 60px 0 30px 0;
    }
    
    .supported-by {

        background-color: rgba(255, 255, 255, 0.1);;
        border-radius: 8px;
        margin: 0 0 26px 0;
        height: 120px;
        text-align: center;
        position: relative;

        img {
            /*
            max-width: auto;
            position: relative;
            top: 50%;
            transform: translateY(-50%);*/
        
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            padding: 16px 15px;
        }
    }
    
    .box {

        padding: 8px 18px 10px 16px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 8px;
        margin: 0 0 26px 0;
        min-height: 236px;

        h3 {
            margin: 12px 0 14px 0;
            padding-bottom: 12px;
            font-family: $font1;
            font-size: 16pt;
        }

        p {
            color: $silver;
        }
        
        img {
            float: left;
            margin: 10px 20px 10px 4px;
        }        
    }
    
    .photo {
        display: block;
        margin: 20px auto;
        width: 135px;
        height: 135px;
        border-radius: 200px;
    }
    
    .contact {
        min-width: 150px;
        display: inline-block;
    }
    
    .registered-office {
        padding-top: 26px;
        font-size: 10pt;
        font-style: italic;
        color: $silver;
        max-width: 700px;
    }    
}

/******/
/******/

#blog {

    padding-bottom: 140px;

    .col-md-2,
    .col-md-10 {
        margin: 0;
        padding: 0;
    }

    .no-posts {

        background: $background-fade;
        border-radius: 6px;
        text-align: center;
        padding: 40px 0;

        p {
            margin: 0;
        }
    }

    .post {

        display: inline-block;
        width: 31.3%;
        margin: 10px;
        vertical-align: top;
        padding: 10px;
        background: $background-fade;
        border-radius: 6px;

        .picture {
            border: 1px solid rgba(255, 255, 255, 0.1);
        }

        .tags {

            .tag {
                background-color: $background-fade;
                font-size: 8pt;
                color: $darkgrey;
                margin: 5px 4px 0 0;
                border-radius: 3px;
                text-transform: uppercase;
                display: inline-block;
                padding: 2px 7px 1px 6px;
                white-space: nowrap;
            }
        }

        .meta {
            color: $white;
            font-size: 8pt;
        }

        h2 {
            margin: 6px 0;
            text-transform: none;
            letter-spacing: 0.02em;
            line-height: 1.45em;
            font-size: 12pt;
            border-bottom: none;
            text-align: left;
            display: block;
        }
    }

    .button {

        border: none;
        border-radius: 4px;
        background: transparent;
        cursor: pointer;
        color: $darkgrey;
        display: block;
        font-family: sans-serif;
        font-size: 10pt;
        margin: 4px 0;
        padding: 8px 8px;
        text-align: left;
        width: 100%;
        white-space: nowrap;

        &:first-child {
            margin: 0 0 36px 0;
        }

        &:last-child {
            margin: 0;
        }

        &:hover {
            background-color: $arctic;
            background: rgba(255, 255, 255, 0.9);
            color: #222;
        }

        &:focus {
            color: $white;
        }

        &:active,
        &.is-checked {
            background-color: $sky;
        }

        &.is-checked {
            color: white;
        }
    }
    
    .button-group {

        background: $background-fade;
        border-radius: 6px;
        margin: 10px 10px 10px 0;
        padding: 10px;
                
        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }

    .grid:after {
        content: '';
        display: block;
        clear: both; /* clear fix */
    }
}

#blog-post {

    padding-bottom: 140px;

    h1 {

        margin-bottom: 60px;

        a:hover {
            text-decoration: none;
            border-bottom: 2px solid;
        }
    }

    h2 {
        margin: 10px 0 40px 0;
    }
    
    #post-column {

        p {
            color: #333;
        }

        h1, h2, h3 {
            color: #363636;
        }

        #post-container {
            background: $background-fade;
            border-radius: 6px;
            padding: 10px;
        }

        #post {
            padding: 20px;
            background-color: $white;
            border-radius: 6px;
        }
    }

    .tag {
        background-color: $background-fade;
        font-size: 8pt;
        color: $darkgrey;
        margin: 5px 4px 0 0;
        border-radius: 3px;
        text-transform: uppercase;
        display: inline-block;
        padding: 2px 7px 1px 6px;
        white-space: nowrap;
    }

    #body {

        position: relative;

        p {
            font-size: 18px;
            line-height: 30px;
        }

        .center {
            text-align: center;
        }
    }

    #disqus_thread {
        margin-top: 190px;
    }

    .highlight {

        background-color: #f8f8f8;
        border: none;
        padding: 6px 10px;
        border-radius: 3px;
        margin: 14px 0;
    
        .lineno{color:#ccc;padding:0 5px;border-right:1px solid #ccc}
        .c{color:#999988;font-style:italic}
        .err{color:#a61717;background-color:#e3d2d2}
        .k{color:#4C9CF1;font-weight:normal}
        .o{font-weight:normal}
        .cm{color:#999988;font-style:italic}
        .cp{color:#999999;font-weight:normal}
        .c1{color:#999988;font-style:italic}
        .cs{color:#999999;font-weight:normal;font-style:italic}
        .gd{color:#000000;background-color:#fdd}
        .gd .x{color:#000000;background-color:#faa}
        .ge{font-style:italic}
        .gr{color:#a00}
        .gh{color:#999}
        .gi{color:#000000;background-color:#dfd}
        .gi .x{color:#000000;background-color:#afa}
        .go{color:#888}
        .gp{color:#555}
        .gs{font-weight:normal}
        .gu{color:#aaa}
        .gt{color:#a00}
        .kc{font-weight:normal}
        .kd{font-weight:normal}
        .kp{font-weight:normal}
        .kr{font-weight:normal}
        .kt{color:#2B91AF;font-weight:normal}
        .m{color:#099}
        .s{color:#d14}
        .n{color:#000}
        .na{color:teal}
        .nb{color:#0086B3}
        .nc{color:#2B91AF;font-weight:normal}
        .no{color:teal}
        .ni{color:purple}
        .ne{color:#990000;font-weight:normal}
        .nf{color:#990000;font-weight:normal}
        .nn{color:#555}
        .nt{color:navy}
        .nv{color:teal}
        .ow{font-weight:normal}
        .w{color:#bbb}
        .mf{color:#099}
        .mh{color:#099}
        .mi{color:#099}
        .mo{color:#099}
        .sb{color:#d14}
        .sc{color:#d14}
        .sd{color:#d14}
        .s2{color:#d14}
        .se{color:#d14}
        .sh{color:#d14}
        .si{color:#d14}
        .sx{color:#d14}
        .sr{color:#009926}
        .s1{color:#d14}
        .ss{color:#990073}
        .bp{color:#999}
        .vc{color:teal}
        .vg{color:teal}
        .vi{color:teal}
        .il{color:#099}
    }

    .lineno{
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    pre {
        background: transparent;
        border: none;
        border-radius: 0;
    }
}

/******/
/******/

@media only screen and (max-width: 991px) {

    #technology .patent .patentNumber {
        margin-bottom: 36px;
    }

    #blog {

        margin-bottom: 36px;

        .col-md-2, 
        .col-md-10 {
            padding-right: 15px;
            padding-left: 15px;
        }

        .post {
            width: 47%;
        }

        .button {
            display: inline-block;
            width: auto;        
            padding: 4px 6px;
            background: transparent;
            background-image: none;
            border: none;
            border-radius: 3px;
            text-shadow: none;
            font-size: 10pt;
            margin: 3px;
            color: $darkgrey;

            &:first-child {
                border-radius: 3px;
                margin: 0;
            }

            &:last-child {
                border-radius: 3px;
            }
        }
        
        .button-group {
            margin: 10px 10px;
        }
    }
}

@media only screen and (max-width: 767px) {

    #mesh {
        display: none;
    }
    
	.navbar-toggle {
		margin: 45px 25px 0 0;
	}

    #navbar {
        margin: auto;
        box-shadow: none;
        -webkit-box-shadow: none;
    }

    .navbar-nav {

        li {
            margin-right: 0;
            a:hover {
                border-radius: 0;
            }
        
            li.active a {
                border-radius: 0;
            }
        }
    }

	.icon-bar {
		background-color: #eee;
	}
}

@media only screen and (max-width: 750px) {
        
    #blog {

        .grid {
            margin: 0 auto;
            width: 460px;
        }

        .posts {
            min-width: 0;
        }
    
        .post {
            display: block;
            width: 440px;
            margin-bottom: 30px;
        }
        
        .button-group {
            width: 440px;
            margin: 10px 10px;
            text-align: center;
            margin: 0 auto 30px auto;
        }
    }
}