
		<header>
			<nav>
				<div id="brand">
					<a href="/" title="Westgate Cyber Security"><img id="logo" alt="Westgate Cyber Security" src="/images/westgate.png"></a>
				</div>
				
				<div id="navbar">
					<ul>
						<li><a {% if page.url == "/index.html" %}       class="active" {% endif %} href="/">Home</a></li>
						<li><a {% if page.url == "/features.html" %}	class="active" {% endif %} href="/features">Features</a></li>
						<li><a {% if page.url == "/technical.html" %}	class="active" {% endif %} href="/technical">Technical</a></li>
						<li><a {% if page.url == "/contact.html" %}     class="active" {% endif %} href="/contact">Contact</a></li>
					</ul>
				</div>
			</nav>
		</header>