
	<header>
		<nav>
			<div id="brand">
				<a href="/" title="Westgate Cyber Security"><img id="logo" alt="Westgate Cyber Security" src="/images/westgate-web.png"></a>
			</div>
			
			<div id="navbar">
				<ul>
					<li><a {% if page.url == "/index.html" %}       class="active" {% endif %} href="/vpn/">Instant VPN</a></li>
					<li><a {% if page.url == "/features.html" %}	class="active" {% endif %} href="/vpn/features">Features</a></li>
					<li><a {% if page.url == "/security.html" %}	class="active" {% endif %} href="/vpn/security">Security</a></li>
					<li><a {% if page.url == "/about.html" %}		class="active" {% endif %} href="/vpn/about">About</a></li>
					<li><a {% if page.url == "/contact.html" %}     class="active" {% endif %} href="/vpn/contact">Contact</a></li>
				</ul>
			</div>
		</nav>
	</header>