---
layout: default
---

<div id="blog-post" class="container">

    <div class="row">
        <div class="col-md-12">
            <h1><a href="/blog.html">Blog</a> <span class="divider">›</span> {{ page.title }}</h1>
        </div>
    </div>
        
    <div class="row">
        <div id="meta-column" class="col-md-2">

            <p><strong>Posted</strong> - <span class="nowrap">{{ page.date | date_to_string }}</span></p>
            <p><strong>Tags</strong> - {% for tag in page.tags %} <span class="tag">{{ tag | capitalize | replace:'-', ' ' }}</span> {% endfor %}</p>
            
        </div>

        <div id="post-column" class="col-md-10">

            <div id="post-container">
                <div id="post">

                    <h2>{{ page.title }}</h2>
                    
                    {{ content }}

                    <!-- -->
                    <!-- -->
                    <!-- -->

                    <div id="disqus_thread"></div>

                    <script type="text/javascript">

                        // more options @ http://help.disqus.com/customer/portal/articles/472098-javascript-configuration-variables
                        var disqus_shortname = 'pingfu';		

                        (function() {
                            var dsq = document.createElement('script'); 
                            dsq.type = 'text/javascript'; 
                            dsq.async = true;
                            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();

                    </script>

                    <a href="//disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
                    
                </div>
            </div>

        </div>
    </div>
</div>